<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */
#services-section .default-tabs li.tab-btn{
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 13px !important;
}
.txt-left{
  text-align: left !important;
}
.txt-right{
  text-align: right !important;
}
.txt-cen{
  text-align: center !important;
}
.txt-justify{
  text-align: justify !important;
}
.main-footer .logo-widget .logo img{
  width: 160px !important;
  height: auto !important;
}

.main-footer .logo-widget .logo{
  margin-bottom: 10px !important;
}
.header-upper .logo-box{
  margin-left: 80px;
  margin-right: 0px;
  padding-top: 15px !important;
}

#chooseUs_sec_about .feature-six__image img {
    
    width: 100% !important;
	filter: brightness(100%);
}
#contactUs_section_contactPage .contact-section .info-block:nth-child(3) .inner-box{
  padding-left: 30px !important;
  padding-right: 20px !important;
}
.page-banner .image-layer{
	filter: brightness(100%);
}

.project-single.style-two .text-col.col-lg-4{
  display: none !important;
}

.left-based-text span{
  font-size: 20px !important;
}
.slide-item .content-box .content .inner {
    /*padding-left: 50px;*/
}
.left-based-text .base-inner .hours{
      margin-right: 4% !important;
}
.filter-tabs.filter-btns li:not(li:nth-child(1)) sup{
  display: none;
}</style>
<!-- end Simple Custom CSS and JS -->
